.search-form-input.search-form-text-field
  - if FeatureFlagHelper.feature_enabled?(:topbar_v1)
    - if(search_mode != :keyword || @view_type.eql?("map"))
      - maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
      - key_param = maps_key ? "&key=#{maps_key}" : ""
      = javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places#{key_param}"
    - if(@view_type.eql?("map"))
      = javascript_include_tag "markerclusterer.js"
    - props = topbar_props
    - cache props do
      -#- if logged_in? || !(params[:controller] == 'homepage' && params[:action] == 'index')
      = react_component("CenteringSearchbarApp", props: props, prerender: true, id: 'CenteringSearchbar-container')
    