
= form_for @apply do |f|
  = f.label :given_name, 'First Name'
  = @apply.given_name
  = f.label :given_name, 'Last Name'
  = @apply.family_name
  = f.label :email, 'Email Address'
  = @apply.email
  = f.label :phone_number, 'Phone Number'
  = @apply.phone_number
  = f.label :house_number_or_name, 'House number/Name'
  = @apply.house_number_or_name
  = f.label :street, 'Street'
  = @apply.street
  = f.label :area, 'Area'
  = @apply.area
  = f.label :city, 'City'
  = @apply.city
  = f.label :postcode, 'PostCode / Zip Code'
  = @apply.postcode
  = f.label :country, 'Country'
  = @apply.country
  = f.label :age, 'Your Age'
  = @apply.age
  = f.label :gender, 'Your Gender'
  = @apply.gender
  = f.label :medical_condition_description, 'Do you have any medical conditions?'
  = @apply.medical_condition_description
  = f.label :best_call_day_description, 'Which day of the week is the best for us to call you?'
  = @apply.best_call_day_description
  = f.label :best_call_time_description, 'What is the best time for us to call?'
  = @apply.best_call_time_description
  = f.label :convenient_time_descriptin, 'If Other - Please specify a convenient time.'
  = @apply.convenient_time_descriptin
  = f.hidden_field :transaction_id
  = f.hidden_field :listing_id
  = f.hidden_field :applier_id
