- testimonials_ico = image_path("testimonials/testimonials_ico.jpg")
.content-promo-container
  .content-promo-wrapper
    .row
      .content-promo-features-title
        = t("promo.content.features_title")

      %div{class: @category_menu_enabled ? "content-promo-fluid-thumbnail-grid-narrow" : "content-promo-fluid-thumbnail-grid-wide"}     
        .content-promo-fluid-thumbnail-grid
          = render partial: "content_template", locals: {content_name: "register_trial"}
          = render partial: "content_template", locals: {content_name: "search_for_patients"}
          = render partial: "content_template", locals: {content_name: "bookmarks"}
        = render partial: "content_contact_us"