- content_for :extra_javascript do
  :javascript
    ST.transaction.initializeFreeTransactionForm('#{I18n.locale}');

- content_for :title_header do
  %h1
    = action_button_label
    = link_to(listing[:title], listing_path(listing[:id]))

#new_message_form.centered-section

  - author_link = link_to(author[:display_name], person_path(username: author[:username]))

  = form_tag(form_action, method: :post, id: "transaction-form") do

    = hidden_field_tag(:start_on, booking_start)
    = hidden_field_tag(:end_on, booking_end)

    .preauthorize-section
      %h2
        = t("conversations.new.complete_details").html_safe

      .row
        .col-12
          = hidden_field_tag(:message, nil, :class => "text_area")
          = render :partial => "applies/apply_form", locals: {apply: apply}
      - if quantity
        = hidden_field_tag(:quantity, quantity)
