- testimonials_ico = image_path("testimonials/testimonials_ico.jpg")
.content-service-description-container
  .content-service-description-wrapper
    .row
      .content-service-description-title
        = 'Our Service'
    .row
      .content-service-description-text
        = "There are many variations of passages of Lorem Ipsum available, but the majority have suffered"
    .row
      %div{class: @category_menu_enabled ? "home-fluid-thumbnail-grid-narrow" : "home-fluid-thumbnail-grid-wide"}
        .home-fluid-thumbnail-grid
          .home-fluid-thumbnail-grid-item
            .content-service-description-td-container
              %row
                %img{alt: "", src: testimonials_ico, style: "width: 30%; min-width: 15px; max-width: 30px;"}
              %row
                .content-service-description-td-image-title
                  = "Contrary to popular belief"
              %row
                .content-service-description-td-image-text
                  = "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour"

          .home-fluid-thumbnail-grid-item
            .content-service-description-td-container
              %row
                %img{alt: "", src: testimonials_ico, style: "width: 30%; min-width: 15px; max-width: 30px;"}
              %row
                .content-service-description-td-image-title
                  = "Contrary to popular belief"
              %row
                .content-service-description-td-image-text
                  = "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour"

          .home-fluid-thumbnail-grid-item
            .content-service-description-td-container
              %row
                %img{alt: "", src: testimonials_ico, style: "width: 30%; min-width: 15px; max-width: 30px;"}
              %row
                .content-service-description-td-image-title
                  = "Contrary to popular belief"
              %row
                .content-service-description-td-image-text
                  = "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour"
