- testimonials_ico = image_path("testimonials/testimonials_ico.jpg")
.content-service-description-container
  .content-service-description-wrapper
    .row
      .content-service-description-title
        = 'Our Service'
    .row
      .content-service-description-text
        = "There are many variations of passages of Lorem Ipsum available, but the majority have suffered"
    .row
      -# %table{class: "content-service-description-table"}
      -#   %tbody{class: "content-service-description-tbody"}
      -#     %tr{class: "content-service-description-tr", style: "background: #eeeeee"}
      -#       %td{class: "content-service-description-image-td", style: "width: 30%;"}
      -#         .content-service-description-td-container
      -#           %div
      -#             %img{alt: "", src: testimonials_ico, style: "width: 30%; min-width: 15px; max-width: 30px;"}
      -#           %div{class: "content-service-description-td-image-title"}
      -#             = "Contrary to popular belief"
      -#           %div{class: "content-service-description-td-image-text"}
      -#             = "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour"
      -#       %td{class: "content-service-description-title-td", style: "width: 30%;"}
      -#         .content-service-description-td-container
      -#           %div
      -#             %img{alt: "", src: testimonials_ico, style: "width: 30%; min-width: 15px; max-width: 30px;"}
      -#           %div{class: "content-service-description-td-image-title"}
      -#             = "Contrary to popular belief"
      -#           %div{class: "content-service-description-td-image-text"}
      -#             = "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour"
      -#       %td{class: "content-service-description-name-td", style: "width: 30%;"}
      -#         .content-service-description-td-container
      -#           %div
      -#             %img{alt: "", src: testimonials_ico, style: "width: 30%; min-width: 15px; max-width: 30px;"}
      -#           %div{class: "content-service-description-td-image-title"}
      -#             = "Contrary to popular belief"
      -#           %div{class: "content-service-description-td-image-text"}
      -#             = "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour"
      %div{class: @category_menu_enabled ? "home-fluid-thumbnail-grid-narrow" : "home-fluid-thumbnail-grid-wide"}
        .home-fluid-thumbnail-grid
          .home-fluid-thumbnail-grid-item
            .content-service-description-td-container
              %row.content-service-description-td-image
                %img{alt: "", src: testimonials_ico, style: "width: 30%; min-width: 15px; max-width: 30px;"}
              %row.content-service-description-td-image-title
                = "Contrary to popular belief"
              %row.content-service-description-td-image-text
                = "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour"

          .home-fluid-thumbnail-grid-item
            .content-service-description-td-container
              %row.content-service-description-td-image
                %img{alt: "", src: testimonials_ico, style: "width: 30%; min-width: 15px; max-width: 30px;"}
              %row.content-service-description-td-image-title
                = "Contrary to popular belief"
              %row.content-service-description-td-image-text
                = "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour"

          .home-fluid-thumbnail-grid-item
            .content-service-description-td-container
              %row.content-service-description-td-image
                %img{alt: "", src: testimonials_ico, style: "width: 30%; min-width: 15px; max-width: 30px;"}
              %row.content-service-description-td-image-title
                = "Contrary to popular belief"
              %row.content-service-description-td-image-text
                = "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour"
